.header {
    height: 60px;
    background: #fff;

    &__container {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 15px;
        justify-content: space-between;
    }

    &__summary {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 15px;
    }

    &__counter {
        h1 {
            font-family: "Lexend", sans-serif;
            font-size: 18px;
            font-weight: 600;
        }
    }

    &__button {
        border: none;
        cursor: pointer;
        border-radius: 50%;
        background: none;
    }
}
